.gallery {
	margin-top: 64px !important;

	&__inner {
		display: grid;
		grid-template-areas: 
			"heading description"
			"impressions impressions";
		grid-gap: 32px;
		grid-template-columns: 400px 1fr;
	}

	&__heading {
		grid-area: heading;
		visibility: hidden;
		opacity: 0;
	}

	&__description {
		grid-area: description;
		visibility: hidden;
		opacity: 0;
	}
	
	&__impressions, .impressions {
		grid-area: impressions;

		&__item {
			visibility: 0;
			opacity: 0;
		}

	}

	@media (max-width: 850px) {

		&__inner {
			grid-template-areas: 
				"heading" 
				"description"
				"impressions";
			grid-gap: 32px;
			grid-template-columns: 1fr;
		}

	}

}