.gallery {
	margin-top: 64px !important;

	&__inner {
		display: grid;
		grid-template-areas: 
			"heading description"
			"impressions impressions"
			"navigation navigation";
		grid-gap: 32px;
		grid-template-columns: 400px 1fr;
	}

	&__heading {
		grid-area: heading;
		visibility: hidden;
		opacity: 0;
	}

	&__description {
		grid-area: description;
		visibility: hidden;
		max-width: 880px;
		justify-self: end;
		opacity: 0;
	}
	
	&__impressions, .impressions {
		grid-area: impressions;

		&__item, .item {

			&__image {
				visibility: 0;
				opacity: 0;
			}
			
		}

	}

	&__navigation, .navigation {
		grid-area: navigation;

		&__item, .item {
			display: flex;
			flex-direction: row;
			align-items: center;

			&__icon {
				margin-right: 16px;
			}

			&__label {
				margin-bottom: 4px;
			}
			
		}

	}

	@media (max-width: 850px) {

		&__inner {
			grid-template-areas: 
				"heading" 
				"description"
				"impressions"
				"navigation";
			grid-gap: 32px;
			grid-template-columns: 1fr;
		}

	}

}