.showcase {

    &__heading, .heading {

        &__item {
            font-size: inherit;
            display: block;

            &:nth-child(2) {
                margin-left: 0.5em;
            }

        }
        
    }

}