.legal-informations {

    &__heading {
        margin-bottom: 64px;
        visibility: hidden;
    }

    &__paragraphs, .paragraphs {
        max-width: 640px;

        &__item, .item {
            margin-bottom: 32px;
            visibility: hidden;

            &__heading {
                margin-bottom: 8px;
            }

            &__text {

                p {
                    margin-bottom: 16px;
                }

                a {
                    text-decoration: underline !important;
                    text-underline-offset: 3px;
                }
            }

        }
    
    }

}