.scroller {
    width: 100%;
    margin: 0 auto;

    &__icon {
        width: 8px;
        height: 16px;
        margin: 0 auto;
        display: block;
        transition: all 0.25s ease;

        &:hover {
            transform: translateY(4px);
        }
        
    }

}