* {
    font-family: 'Usual-Light';
    font-weight: 300;;
    font-size: 16px;
}

.heading {

    &--h1 {
        font-family: 'Athena-Light';
        font-size: 120px;
        line-height: 1;
        text-transform: uppercase;
    }

    &--h2 {
        font-family: 'Athena-Light';
        font-size: 80px;
        line-height: 1;
        letter-spacing: -4px;
    }

    &--h3 {
        font-family: 'Usual-Light';
        font-size: 12px;
        line-height: 1;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &--h4 {
        font-family: 'Athena-Light';
        font-size: 26px;
        line-height: 1;
    }

}

.text {
    font-family: 'Usual-Light';
    font-size: 14px;
    line-height: 1.5;

    &--large {
        font-size: 26px;
        line-height: 1.5
    }

}

.link {
    font-size: 12px;
    line-height: 20px;
}

.navigation {

    &__menu, .menu {

        &__main-links, .main-links {

            &__item {
                text-transform: uppercase;
            }

        }

    }

}

.jumper {

    &__link {
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'Athena-Light', sans-serif;
    }

}

.showcase {

    &__heading, .heading {

        &__item {
            font-size: inherit;
            font-family: inherit;
            display: block;

            &:nth-child(2) {
                margin-left: 64px;
            }
        }
    }
}

@media (max-width: 1000px) {

    .heading {

        &--h1 {
            font-size: 80px;
        }

        &--h2 {
            font-size: 60px;
        }

    }

}

@media (max-width: 850px) {

    .heading {

        &--h1 {
            font-size: 44px;
        }

        &--h2 {
            font-size: 34px;
        }

        &--h3 {
        }

        &--h4 {
        }

    }

}

@media (max-height: 1000px) {

    .navigation {

        &__menu, .menu {

            &__main-links, .main-links {

                &__item {
                    font-size: 80px;
                }

            }

        }

    }

}

@media (max-height: 700px), (max-width: 850px) {

    .navigation {

        &__menu, .menu {

            &__main-links, .main-links {

                &__item {
                    font-size: 44px;
                }

            }

        }

    }

}