.teaser {

    &__highlight-slider, .highlight-slider {
        visibility: hidden; 

        &__projects, .projects {

            &__box {
                visibility: hidden;
                opacity: 0;
                position: relative;
                top: 16px;
            }

        }

    }

    &__highlight-preview {
        visibility: hidden;
        opacity: 0;
    }
    
}